*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Gill Sans';
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
     height: 100%;
    width: 100%;
    
}

#header{
    /* vh means manage according to device size */
     height: 13%;      
    width: 100%;
    background-color: #fff;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#logo{
  
    height: 70%;
}
#logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.texts{
    color: rgb(2, 2, 141);
    display: flex;
    margin-left: 0px;
}
.texts:hover{
    color: rgb(18, 223, 210);
    
}
#contact{
    margin-left: 200px;
    font-weight: lighter;
}
.icon{  
    padding: 7px;
    /* margin-left: 0px; */
    border-radius: 50%;
}
.icon:hover{
    background-color: rgb(45, 171, 213);
}

#login{
    padding: 5px;
    border-radius: 50%;
    /* margin-right: 30px;  */
    display: flex;
    font-size: medium ;
    font-weight: bold;
}

#login:hover{
    background-color: rgb(45, 171, 213);
}
#try{
    margin-left: 50px;
    background-color: green;
    padding: 10px 20px;
    color: white;

}
#try:hover{
    background-color: rgb(5, 72, 5);
}

#facheader{
    /* vh means manage according to device size */
     height: 13%;      
    width: 100%;
    /* background-color: yellow; */
    /* position: fixed;  */
}
#page1{
    height: 87%;
    width: 100%;
   
}
#strip{
    height: 8%;
    width: 100%;
    background-color: blue;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;

}
#strip u{
    margin-left: 20px;
    font-weight: lighter;
}
#content{
    display: flex;
    background-color: wheat;
    width: 100%;
    height: 76%;
    align-items: center;
    justify-content: space-around;
}
#box1{
    /* margin: 10px; */
    background-color: white;
    width: 47%;
    height: 90%;
}
#a1{
    height: 30%;
    width: 60%;
    /* background-color: orange; */
    margin-left: 2px;
}
#a1 h1{
    color: blue;
    font-size: 40px;
}
#a2{
    height: 33%;
    width: 70%;
    background-color:white;
    margin-left: 2px;
}
#a2 p{
    font-weight: 100;
    font-size: 20px;
}
#a3{
    height: 33%;
    width: 50%;
    display: flex;
    justify-content: space-around;
}
.button{
    border-style: solid;
    width: 120px;
    height: 50px;
    background-color: rgb(41, 69, 210);
    justify-content: space-around;
    align-items: center;
    display: flex;
    color: white;  
}
.button:hover{
    background-color: rgb(6, 6, 111);
}
#box2{
    /* margin: 10px; */
    background-color: white;
    width: 47%;
    height: 90%;
}
#heading{
    width: 100%;
    height: 16%;
    color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
}
#heading h1{
    font-weight: 600;
}
#page2{
    height: 87%;
    width: 100%;
    background-color:salmon;
}