*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans';
}
.shape{
    /* margin: 10px;   if i will use only this then inbetween margin more */
    margin-top: 10px;
    margin-left: 10px;
    height: 200px;
    width: 200px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
}
h1{
    font-weight: normal;
}
#square:hover{     /* for blink color*/
    background-color: red;
}
#diamond:hover{
    background-color: blue;
}
#circle:hover{
    background-color: green;
}

#circle{
    height: 180px;
    width: 180px;
    border-radius: 50%;
}
#diamond{
    height: 141px;
    width: 141px;
    margin-top: 40px;
    translate: 15px;        /*for slide*/ 
    rotate: 45deg;
}
#diamond h1{
    rotate: -45deg;
}
