*{
    margin: 0%;
    padding: 0%;
}
html,body{
    width: 100%;
    height: 100%;
}
.colorfont{
    color: blue;
    /* background-color: grey; */
    font-weight:bolder;
    text-align: center;
}
h2{
    margin: 10px;
    /* padding: 10px; */
    background-color: aqua;
}