*{
    margin: 0%;
    padding: 0%;
}
html,body{
    height: 100%;
    width: 100%;
    
}
body{
    display: flex;
    background-color: grey;
}
div{
    height: 200px;
    width: 200px;
    
}
#box1{
    
    background-color: aquamarine;
}
#box2{
    background-color: red;
}
#box3{
    background-color: blue;
}