
h1{
    text-align: center;
    color: rgb(199, 199, 216);
    font-style: italic;
    background-color: rgb(5, 1, 1);
}
body{
    background-color: rgb(220, 220, 231);
   
}
img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
     border-width: 2px;
    border-style: dotted;
}
    div{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20%;
        height: 20%;
    }
    #b1{

        background-color: blue;
    }
    #b2{
        background-color: yellow;
    }
